<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="/static/styles.css" rel="stylesheet">
        <title>Waffle House</title>
    </head>
    <body>
        <div class="jumbotron">
            <h1>Waffle House Location</h1>
        </div>
        <div class="container">
            <div class="section">

              <table style="margin-left:auto; margin-right:auto">
<tr>
	<td colspan="2">
		<h2>Waffle House Store Number {{ storeNum }}</h2>
		<a href=/?state={{ location[4] }}><< back to all {{ location[4] }} Wafflehouses</a>
	</td>
</tr>
	<tr><td width="600">
		<iframe
		width="600"
		height="450"
		style="border:0"
		frameborder="0"
		loading="lazy"
		allowfullscreen=""
		src="https://www.google.com/maps/embed/v1/streetview?key=AIzaSyBR5RY-Y3sGcCacuN8Xy1auBDne78xjQVo&location={{ location[0] }},{{ location[1] }}&fov=35&language=en">
	</iframe>
	</td>
	<td style="padding-left:30px; text-align:left; width:240px">
		<b>Address:</b> {{ location[2]}}<br />
		<b>City:</b> {{ location[3]}}<br />
		<b>State:</b> {{ location[4]}}<br />
		
		</td></tr>
		
		</table>

            </div>

            </div>
        </div>
    </body>
</html>
