<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="/static/styles.css" rel="stylesheet">
        <title>Waffle House</title>
    </head>
    <body>
        <div class="jumbotron">
            <h1>Waffle House Locations</h1>
        </div>
        <div class="container">
            <div class="section">
                <h2>Waffle House Location Count by State</h2>
				<a href="/?random=true"><button>Take me to a random Waffle House!</button></a>
                <table>
                    <thead>
                        <tr>
                            <th>State</th>
							<th>Locations</th>
                        </tr>
                    </thead>
                    <tbody>
                    <!-- TODO: Loop through the database entries to display them in this table -->
							{% for s in states %}
							<tr>
									<td> {{ s[0] }} </td>
									<td> <a href=/?state={{ s[0] }}>{{ s[1] }}</a></td>
							</tr>
							{% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
